<footer>
    <div class="container">
	<div class="useful-links">
	    <h5>Przydatne linki</h5>
	    <div class="useful-links-container">
		<a href="https://www.sts.pl/" target="_blank">STS &raquo;</a>
		<a href="https://www.flashscore.pl/" target="_blank">Flashscore &raquo;</a>
		<a href="https://www.totalmoney.pl/chwilowki" target="_blank">Chwilówki &raquo;</a>
	    </div>
	</div>
        <div class="copyright">
	    &copy;typerporemba.pl - {{ "now"|date("Y") }}
        </div>
    </div>
</footer>