<div class="schedule-teams schedule-teams-long">
	<img src="/images/flags/{{ match.homeTeamFlag }}"/>
	<p>{{ match.homeTeamName }}</p>
	<p>-</p>
	<p>{{ match.awayTeamName }}</p>
	<img src="/images/flags/{{ match.awayTeamFlag }}"/>
</div>
