{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>

    {% if app.session.flashbag.peek('success') %}
	{% for message in app.flashes('success') %}
	    <p>{{ message|raw }}</p>
	{% endfor %}
    {% endif %}

    {% if app.session.flashbag.peek('error') %}
	{% for message in app.flashes('error') %}
	    <p>{{ message|raw }}</p>
	{% endfor %}
    {% endif %}

    <label for="inputSearch">Email lub login</label>
    <input type="text" value="" name="search" id="inputSearch" class="form-control">

    <button class="btn btn-lg btn-primary" type="submit">
        Resetuj
    </button>
</form>
{% endblock %}
