{% extends 'base.html.twig' %}

{% block meta_title %}Resetuj hasło{% endblock %}
{% block meta_desc %}Zapomniałeś hasła? - zresetuj hasło za pomocą formularza!{% endblock %}

{% block content %}
<h2 class="site-title">
    Resetuj hasło
</h2>
{% if app.session.flashbag.peek('success') %}
    <div class="info success-info">
    {% for message in app.flashes('success') %}
	<p>{{ message|raw }}</p>
    {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.peek('error') %}
    <div class="info error-info">
    {% for message in app.flashes('error') %}
	<p>{{ message|raw }}</p>
    {% endfor %}
    </div>
{% endif %}

<div class="form">
    <form method="post">
	<div class="form-line">
	    <label for="inputSearch">Email lub login</label>
	    <input type="text" value="" name="search" id="inputSearch" class="input-text" required />
	</div>
	<button class="button-submit button-margin" type="submit">Wyślij</button>
    </form>
</div>
<div class="big-margin"></div>
{% endblock %}
