{% extends 'base.html.twig' %}

{% block title %}Hello MainPageController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>TYPER POREMBA - {{ user_data.login }}</h1>
</div>
{% endblock %}
