@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');
:root{
    --bg_color:#131313;
    --box_large:1200px;
    --box_medium:700px;
    --box_small:350px;
    --error_color:#ff483b;
    --font_signika:'Signika Negative', sans-serif;
    --success_color:#278a00;
    --success_color_dark:#1b5405;
}

body{
    background:var(--bg_color);
    color:#ffffff;
    font-family:var(--font_signika);
    font-size:16px;
    margin:0;
}

.container{
    margin:0px auto;
    width:var(--box_large);
}

section{
    min-height:80vh;
    overflow:hidden;
}

a{
    color:#ffffff;
    text-decoration:none;
}

a.hover{
    background: linear-gradient(to right, gold, gold 50%, white 50%);
    background-clip: text;
    background-position: 100%;
    background-size: 200% 100%;
    overflow:hidden;
    transition: background-position 275ms ease;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.hover:hover{
  background-position: 0 100%;
}

.site-title{
    border-bottom:1px solid #ffffff;
    font-size:1.5rem;
    margin:0 0 1rem;
    padding:0 0 0.5rem;
}

.info{
    font-size:1.25rem;
    font-weight:700;
    margin:1rem 0;
    padding:1rem;
    text-align:center;
}

.info p{
    margin:0;
    padding:0;
}

.error-info{
    background:var(--error_color);
}

.success-info{
    background:var(--success_color);
}

.form{
    background:#ffffff;
    color:#000000;
    display:flex;
    justify-content:center;
    margin:2rem auto;
    padding:3rem 0;
    width:40%
}

.input-text{
    border:2px solid #000000;
    box-sizing:border-box;
    font-size:1rem;
    margin:0.25rem 0;
    padding:0.5rem;
    width:250px;
}

.button-submit{
    background:#2753b3;
    border:0;
    border-radius:5px;
    color:#ffffff;
    font-size:1rem;
    font-weight:700;
    line-height:2.5rem;
    text-align:center;
    transition: background 375ms ease;
    width:200px;
}

.button-link{
    background:#24a634;
    border:0;
    border-radius:5px;
    color:#ffffff;
    display:block;
    font-size:1rem;
    font-weight:700;
    line-height:2.5rem;
    text-align:center;
    transition: background 375ms ease;
    width:200px;
}

.button-submit:hover{
    background:#163370;
    cursor:pointer;
}

.button-link:hover{
    background:#13591b;
    cursor:pointer;
}

.login-info{
    font-style:italic;
}

.button-margin{
    margin:1rem 0 0;
}

.button-margin-bottom{
    margin:0 0 1rem;
}

.big-margin{
    margin:1rem 0 5rem;
}

.user-info{
    color:gold;
    font-size:1.5rem;
    line-height:2rem;
    text-align:center;
}

.color-gold{
    color:gold;
}

.color-silver{
    color:silver;
}

.color-bronze{
    color:saddlebrown;
}

.header{
    align-items:center;
    display:flex;
    justify-content:space-between;
}

.header h1{
    margin:1.5rem 0;
}

.header h1 a{
    font-size:2.5rem;
}

.header h1 i{
    color:gold;
    padding:0 0.5rem;
}

.menu a{
    font-size:1.25rem;
    padding:0 0.5rem;
}

footer{
    background:gold;
}

.copyright{
    color:#000000;
    font-weight:700;
    padding:0.5rem 0;
    text-align:center;
}

.useful-links{
    color:#000000;
    display:flex;
    flex-direction:column;
    padding:0.5rem 0 0;
}

.useful-links h5{
    font-size:1.25rem;
    margin:0 0 0.5rem;
}

.useful-links a{
    color:#000000;
    font-size:1rem;
    font-style:italic;
    font-weight:700;
    margin:0 2rem 0 0;
    transition: text-shadow 350ms ease;
}

.useful-links a:hover{
    text-shadow:1px 1px 1px #000000;
}

.error{
    align-items:center;
    color:gold;
    display:flex;
    flex-direction:column;
    font-size:2rem;
    margin:3rem 0;
}

.error > *{
    margin:1rem 0;
}

.error i{
    font-size:5rem;
}

/* MAIN PAGE START*/
.prize-info{
    font-size:2rem;
    margin:1.5rem 0;
    text-align:center;
}

.prize-info strong{
    color:gold;
    text-shadow:1px 1px 1px gold;
}

.main-content{
    display:flex;
    justify-content:space-evenly;
    margin:3rem 0;
}

.main-content .main-block{
    width:40%;
}

.main-content .main-text{
    box-sizing:border-box;
    font-size:1.25rem;
    line-height:1.75rem;
}

.main-text a{
    font-style:italic;
}

.main-form form{
    background:#ffffff;
    color:#000000;
    margin:0 auto;
    width:80%;
}

.main-form form h3{
    font-size:1.5rem;
    margin:0;
    padding:1rem 2rem;
}

form .form-line{
    display:flex;
    flex-direction:column;
}

form .checkbox-line{
    margin:0.5rem 0 0;
}

.checkbox-line a{
    color:#000000;
    font-style:italic;
}

.checkbox-line input{
    height:1rem;
    margin:5px;
    width:1rem;
}

.checkbox-line:hover{
    cursor:pointer;
}

form label{
    font-size:1.25rem;
    line-height:2rem;
}

.main-form form .form-line{
    padding:0 2rem 1rem;
}

.main-form-submit{
    margin:0 2rem 1.5rem;
}

.main-button-link{
    font-size:1.25rem;
    margin:1rem auto;
    width:250px;
}
/* MAIN PAGE END */

/* USER PAGE START */
.user-tiles{
    display:flex;
    justify-content:center;
    margin:3rem 0;
}

.tile{
    align-items:center;
    background:var(--success_color);
    display:flex;
    flex-direction:column;
    margin:0 2rem;
    padding:2rem;
    transition: background 375ms ease;
}

.tile.tile-index{
    margin:3rem auto;
    width:10rem;
}

.tile:hover{
    background:var(--success_color_dark);
}

.tile i{
    font-size:4rem;
}

.tile strong{
    font-size:1.25rem;
    margin:1rem 0 0;
    min-width:8rem;
    text-align:center;
}

.user-account-header{
    font-size:1.25rem;
    text-align:center;
}

.small-header{
    font-size:1.25rem;
    margin:1rem 0;
}

.schedule{
    margin:1rem 0;
}

.schedule-match, .schedule-info, .schedule-teams, .schedule-result, .schedule-points{
    display:flex;
}

.schedule-match{
    align-items:center;
    font-size:1.25rem;
    margin:0.5rem 0;
}

.schedule-info{
    min-width:20rem;
}

.schedule-info p, .schedule-teams > *, .schedule-points > *{
    margin:0 0.5rem;
}

.schedule-result{
    min-width:5rem;
}

.schedule-result > *{
    margin:0 0.25rem;
}

.schedule-teams img{
    max-height:1.5rem;
}

.schedule-teams.schedule-teams-long{
    min-width:30rem;
}

.schedule-points{
    font-weight:700;
    min-width:5rem;
}

.schedule-points.full{
    color:gold;
}

.schedule-points.half{
    color:silver;
}

.schedule-points.none, .color-error{
    color:var(--error_color);
}

.mobile-info{
    display:none;
}

.results, .result{
    display:flex;
}

.results{
    flex-direction:column;
    font-size:1.25rem;
}

.result{
    align-items:center;
    margin:0.5rem 0;
}

.result > *{
    margin:0;
}

.result-index{
    min-width:2rem;
}

.result-login{
    min-width:30rem;
}

.result-points{
    min-width:5rem;
}

.user-bet{
    align-items:center;
    display:flex;
    flex-direction:column;
    font-size:1.5rem;
    margin:2rem 0;
    text-align:center;
}

.bet-info, .bet-teams, .bet-inputs{
    align-items:center;
    display:flex;
    margin:0 0 1rem;
}

.bet-info > *, .bet-teams > *, .bet-inputs > *{
    margin:0 0.5rem;
}

.bet-teams img{
    max-height:1.5rem;
}

.bet-inputs input{
    border-radius:5px;
    font-size:1.5rem;
    padding:0.25rem;
    text-align:center;
    width:4rem;
}

.bonus-details, .bonus-detail{
    display:flex;
}

.bonus-details{
    flex-direction:column;
}

.bonus-detail{
    align-items:center;
    font-size:1.25rem;
}

.bonus-detail > *{
    margin:0.25rem;
}

form .form-line-user{
    align-items:center;
    display:flex;
    margin:0.5em 0;
}

form .form-line-user label{
    min-width:10rem;
}

form .form-line-user select{
    box-sizing:border-box;
    font-size:1rem;
    padding:0.5rem;
    width:250px;
}

.scorer-info{
    margin:0 1rem;
}
/* USER PAGE END */
/* REGULATIONS START */
.regulations li{
    font-size:1.25rem;
    margin:0.5rem 0;
}

.regulations li ul{
    padding:0 0 0 1rem;
}

.regulations .smaller-text{
    font-size:1rem;
}
/* REGULATIONS END */

@media all and (max-width:1100px){
    .container{
	width:var(--box_medium);
    }
    
    .header h1{
	margin:1rem 0;
    }
    
    .header h1 a{
	font-size:2rem;
    }

    .form{
	width:70%;
    }

    .menu.logged-menu a{
	padding:0 0.25em;
    }

    /* MAIN PAGE START*/
    .main-content .main-block{
	width:45%;
    }
    
    .main-content .main-text{
	padding:0 2rem;
    }
    
    .main-form form{
	width:100%;
    }
    
    .main-form form h3{
	padding:1rem;
    }
    
    .main-form form .form-line{
	padding:0 1rem 1rem;
    }
    
    .main-form-submit{
	margin:0 1rem 2rem;
    }
    /* MAIN PAGE END */
    /* USER PAGE START */
    .tile i{
	font-size:3rem;
    }

    .tile strong{
	min-width:7rem;
    }
    
    .schedule-info p, .schedule-teams > *{
	margin:0 0.25rem;
    }
    
    .result-login{
	min-width:20rem;
    }
    
    .schedule.schedule-with-results .schedule-match{
	flex-wrap:wrap;
	margin:1.5rem 0;
    }
    
    .schedule.schedule-with-results .schedule-info, .schedule.schedule-with-results .schedule-teams{
	min-width:100%;
    }
    
    .schedule-match.schedule-match-header{
	display:none;
    }

    .schedule-bet .button-link{
	margin:0.5rem 0;
    }
    
    .mobile-info{
	display:block;
    }
    /* USER PAGE END */
}

@media all and (max-width:599px){
    .container{
	width:var(--box_small);
    }
    
    .header{
	flex-direction:column;
    }
    
    .menu{
	display:flex;
	flex-direction:column;
	margin:0 0 1rem;
    }
    
    .menu a, .menu.logged-menu a{
	padding:0.4em 0;
	text-align:center;
    }

    .form{
	padding:2rem 0;
	width:90%;
    }

    .useful-links-container{
	display:flex;
	flex-direction:column;
    }

    .useful-links h5{
	margin:0;
    }

    .useful-links a{
	margin:0.5rem 0;
    }
    /* MAIN PAGE START*/
    .main-content{
	flex-direction:column;
    }
    
    .main-content .main-block{
	width:100%;
    }

    .main-content .main-text{
	margin:0 0 1rem;
	padding:0 0.5rem;
    }
    
    .main-form form{
	margin:0 auto 2rem;
	width:90%;
    }
    /* MAIN PAGE END*/
    /* USER PAGE START */
    .user-tiles{
	flex-direction:column;
    }
    
    .tile{
	margin:1rem auto;
    }
    
    .schedule-match{
	align-items:start;
	flex-direction:column;
	margin:0.75rem 0;
    }
    
    .schedule-match > *{
	align-items:center;
	margin:0.25rem 0;
    }
    
    .schedule-points > *{
	margin:0.25rem;
    }

    .result{
	flex-wrap:wrap;
    }

    .result-login{
	min-width:15rem;
    }
    
    .result-points{
	min-width:3rem;
    }
    
    .result-details{
	flex:0;
	margin:0.5rem 0;
    }
    
    form .form-line-user{
	align-items:start;
	flex-direction:column;
    }

    .scorer-info{
	margin:0;
    }
    /* USER PAGE END */
}