<table>
    <tr>
	<td>
	    Hej Typerze!<br/>
	    Oto Twoje nowe hasło w serwisie typerporemba.pl:<br/>
	    <strong>{{ password }}</strong><br/>
	    Możesz je zmienić po zalogowaniu w sekcji "Twoje dane".
	</td>
    </tr>
</table>