<table>
    <tr>
	<td>
	    Hej typerze!<br/>
	    Twoje konto w serwisie typerporemba.pl zostało utworzone!<br/>
	    Możesz się zalogować, jednak konto nie jest jeszcze w pełni aktywne - nastąpi to w momencie akceptacji przez administratora.<br/>
	    Bacznie obserwuj swoje konto<br/>
	    Życzymy udanej zabawy i samych trafionych wyników!
	</td>
    </tr>
</table>