<table>
    <tr>
	<td>
	    Hej typerze!<br/>
	    Otrzymałeś tego maila, ponieważ wyraziłeś chęć zresetowania hasła w serwisie typerporemba.pl.<br/>
	    Kliknij w poniższy link, aby otrzymać w kolejnym mailu nowo wygenerowane hasło:<br/>
	    https://typerporemba.pl/reset-password/{{ control }} <br/>
	    Jeśli to nie Ty zgłosiłeś chęć zresetowania hasła - zignoruj tą wiadomość...
	</td>
    </tr>
</table>