{% extends 'base.html.twig' %}

{% block meta_title %}Regulamin{% endblock %}
{% block meta_desc %}Regulamin porembskiego typera EURO 2021 - zapraszam do zabawy! typerporemba.pl{% endblock %}

{% block content %}
<h2 class="site-title">Regulamin gry - "typer EURO 2020"</h2>
    <ol>
	<li>W grze typujemy mecze mistrzostw Europy 2020(2021?)</li>
    </ol>
{% endblock %}
