{% extends 'base.html.twig' %}

{% block meta_title %}Regulamin
{% endblock %}
{% block meta_desc %}Regulamin porembskiego typera EURO 2021 - zapraszam do zabawy! typerporemba.pl
{% endblock %}

{% block content %}
	<h2 class="site-title">Regulamin gry - "typer EURO 2020"</h2>
	<ol class="regulations">
		<li>Organizatorem i administratorem "typera Euro 2020" jest właściciel strony typerporemba.pl.</li>
		<li>W grze typujemy mecze Mistrzostw Europy w piłce nożnej 2020(2021).</li>
		<li>
			Warunki uczestnictwa:
			<ul>
				<li>
					Założenie konta w serwisie
					<a href="{{ path('user_register') }}" class="hover">Rejestracja &raquo;</a>
					i akceptacja niniejszego regulaminu.
					<ul>
						<li>Administrator decyduje o aktywacji konta użytkownika w serwisie i ma prawo odrzucić prośbę o utworzeniu konta bez podania przyczyny.</li>
						<li>Adres email podawany przy rejestracji jest wykorzystywany wyłącznie do pomocy graczowi w serwisie (np. przy resetowaniu hasła)
										i nie jest pod żadnym pozorem przekazywany innym osobom/podmiotom.
						</li>
					</ul>
				</li>
				<li>
					Opłacenie składki "wejściowej" (lub przekazanie screena administratorowi o dokonaniu wpłaty) do gry w wysokości
					<strong class="color-gold">{{ premium }}
						PLN</strong>
					na konto
					<strong class="color-gold">38102024010000070201871052</strong>
					do dnia
					<strong class="color-gold">10.06.2021</strong>
					włącznie.
				</li>
			</ul>
		</li>
		<li>
			Zasady gry:
			<ul>
				<li>
					W grze typujemy dokładny wynik meczu po
					<strong class="color-gold">90 minutach</strong>. Dotyczy to również
					<strong class="color-gold">fazy pucharowej</strong>!
				</li>
				<li>
					Wynik meczu możemy obstawić do godziny(dokładnej!) rozpoczęcia spotkania. Po rozpoczęciu meczu nie będzie już takiej możliwości!
				</li>
				<li>
					Punktacja:
					<ul>
						<li>Poprawne wskazanie dokładnego wyniku -
							<strong class="color-gold">5 punktów</strong>.</li>
						<li>Poprawne wskazanie zwycięzcy meczu lub remisu -
							<strong class="color-gold">2 punkty</strong>.</li>
					</ul>
				</li>
				<li>
					Gracz może otrzymać bonusowe punkty za:
					<ul>
						<li>Wytypowanie
							<strong class="color-gold">Mistrza Europy</strong>
							-
							<strong class="color-gold">10 punktów</strong>.</li>
						<li>
							Wytypowanie
							<strong class="color-gold">Króla strzelców mistrzostw Europy</strong>
							-
							<strong class="color-gold">10 punktów</strong>.
							<br/><span class="smaller-text">W przypadku typowania króla strzelców prosimy o podanie imienia i nazwiska, aby nie było żadnych kontrowersji przy rozstrzyganiu końcowych wyników</span>.</li>
					</li>
				</li>
				<li>
					Na wytypowanie Mistrza Europy i króla strzelców mistrzostw gracz ma czas do dnia
					<strong class="color-gold">11.06.2021</strong>
					włącznie.
				</li>
			</ul>
		</li>
	</ul>
	<li>
		Nagrody:
		<ul>
			<li>Pula ze składek przeznaczona jest
				<strong class="color-gold">w całości</strong>
				dla zwycięzców gry. Administrator nie czerpie z gry żadnych korzyści.</li>
			<li>W grze nagrody otrzymują
				<strong class="color-gold">3</strong>
				najlepsi gracze, mający największą ilość punktów.</li>
			<li>W przypadku, gdy któreś ze zwycięskich miejsc zostanie zajęte przez graczy ex aequo - nagroda zostaje podzielona po równo między wszystkich graczy zajmujących to miejsce.</li>
			<li>Podział nagród:
				<ul>
					<li>1 miejsce -
						<strong class="color-gold">50%</strong>
						z puli.</li>
					<li>2 miejsce -
						<strong class="color-gold">30%</strong>
						z puli.</li>
					<li>3 miejsce -
						<strong class="color-gold">20%</strong>
						z puli.</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>Wszelkie sporne kwestie nieujęte w regulaminie rozstrzyga Administrator.</li>
</ol>
<div class="big-margin"></div>{% endblock %}
